@using Microsoft.AspNetCore.Mvc.TagHelpers
@model COMP2139_ICE.Areas.ProjectManagement.Models.Project
@Model Project

@{
    ViewData["Title"] = "Project Details";
}

<h2>Project Details</h2>

<div class="card">
    <div class="card-body">
        <div class="card-title">@Html.DisplayFor(model => model.Name, "ProjectName")</div>
        <div class="card-text">@Html.DisplayFor(model => model.Description, "ProjectDescription")</div>
        <dl class="row">
            <dt class="col-sm-3">Project ID</dt>
            <dd class="col-sm-9">@Model.ProjectId</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.StartDate)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.StartDate, "DateTime")</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.EndDate)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.EndDate, "DateTime")</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Status)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Status, "ProjectName")</dd>

        </dl>
        <a asp-controller="Project" asp-action="Edit" asp-route-id="@Model.ProjectId" class="btn btn-warning">Edit</a>
        <a asp-controller="Project" asp-action="Index" class="btn btn-secondary">Back To Project List</a>
    </div>

</div>