@* Indicates that the view expects a list of Project objects as its model *@
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<COMP2139_ICE.Areas.ProjectManagement.Models.Project>
@Model Project

@* Razor Block *@
@{
    ViewBag.Title = "Project Listing";
    Layout = "_Layout";

    bool searchPerformed = ViewData["SearchPerformed"] as bool? ?? false;
    string searchString = ViewData["SearchString"] as string;
}

<h2>Project Listing</h2>

<a asp-action="Create" class="btn btn-primary">Create New Project</a>

@if (Model.Any())
{
    //Iterate through project
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Summary</th>
            <th>Actions</th>
        </tr>
        </thead>
        
        <tbody>
        <!-- For each project iterate over the project, displaying project details -->
        @foreach (var project in Model)
        {
            <tr>
                <td>@project.ProjectId</td>
                <td><p>@Html.DisplayFor(model => project.Name, "ProjectName")</p></td>
                <td><p>@Html.DisplayFor(model => project.Description, "ProjectDescription")</p></td>
                
                <!-- Call reusable view component -->
                <td>
                    @await Component.InvokeAsync("ProjectSummary", new { projectId = project.ProjectId} )
                </td>
                
                <td>
                    <a asp-action="Details" asp-route-id="@project.ProjectId" class="btn btn-info">Details</a>
                    <a asp-action="Edit" asp-route-id="@project.ProjectId" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@project.ProjectId" class="btn btn-danger">Delete</a>
                    
                    <a asp-controller="ProjectTask" 
                       asp-action="Index" 
                       asp-route-projectId="@project.ProjectId" 
                       class="btn btn-warning">View Tasks</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    if (searchPerformed)
    {
        <p>No projects with search string "@searchString" found</p>
    }
    else
    {
        <p>No projects available</p>

    }
}