@* Indicates that the view expects a list of Project objects as its model *@
@model List<Project>

@* Razor Block *@
@{
    ViewBag.Title = "Project Listing";
    Layout = "_Layout";
}

<h2>Project Listing</h2>

@if (Model.Any())
{
    //Iterate through project
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Start Date</th>
            <th>End Date</th>
            
        </tr>
        </thead>

        <tbody>
        <!-- For each project iterate over the project, displaying project details -->
        @foreach (var project in Model)
        {
            <tr>
                <td>@project.ProjectId</td>
                <td>@project.Name</td>
                <td>@project.Description</td>
                <td>@project.StartDate.ToString("yyyy-MM-dd")</td>
                <td>@project.EndDate.ToString("yyyy-MM-dd")</td>
                
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>No projects available</p>
}